.typing-test {
    position: relative;
    height: 1.2em;
    margin-bottom: 1em;
    
    font-family: monospace;
    font-size: 1.2em;
    
    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}

.typing-test .text {
    opacity: 50%;
    position: absolute;

    top: -1em;
    left: 0.25em;
}

.typing-test .type {
    background: white;
    position: absolute;
    top: -1em;
    left: 0.25em;
}

.typing-test .type .wrong {
    color: red;
    text-decoration: underline;
}

.typing-test .type::after {
    content: "";
    border-right: 1px solid black;
    animation: 0.6s linear alternate infinite blinking_cursor;
}

@keyframes blinking_cursor {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0;
    }
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 1.5fr;
    grid-template-rows: repeat(2, 1fr) 0.9fr;
    grid-column-gap: 0.1em;
    grid-row-gap: 0.1em;

    aspect-ratio: 5.5/2.9;
    height: 6em;

    margin-bottom: 0.8em;
}

.keyboard.right {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph;
    filter: fliph;
}

.keyboard * {
    border: 1px solid black;
    border-radius: 0.25em;
    background-color: white;
    transition: background-color 0.2s;
}

.keyboard .key-pressed {
    background-color: black;
}

#key-n {
    grid-area: 1 / 1 / 2 / 2;
}
#key-r {
    grid-area: 1 / 2 / 2 / 3;
}
#key-t {
    grid-area: 1 / 3 / 2 / 4;
}
#key-s {
    grid-area: 1 / 4 / 2 / 5;
}

#key-i {
    grid-area: 2 / 1 / 3 / 2;
}
#key-e {
    grid-area: 2 / 2 / 3 / 3;
}
#key-a {
    grid-area: 2 / 3 / 3 / 4;
}
#key-h {
    grid-area: 2 / 4 / 3 / 5;
}

#key-thumb {
    grid-area: 3 / 5 / 4 / 6;
    transform: translate(-0.8em, -0.4em) rotate(-45deg);
}